:root {
    --mycolor:rgb(230, 230, 230);
    --mygray:#f7f7f7;
    --myorange:#ff8f00;
    --mysidebar:#051e34;
    --myprimary:#165bba;
  }

.mycolor {
    background-color:var(--mycolor);
}

.mygray {
    background-color: var(--mygray);
}

.myorange {
    color: var(--myorange);
}

.myprimary {
    background-color: var(--myprimary);
}

.mytext {
    font-size: 12px;
}

.myhover:hover {
    background-color:rgb(230, 230, 230, 0.3);
}



.mymain {
   width: calc((100% - 10%) + 23px );
     
}

.mymain section {
    overflow: auto;
}

.myaside {
    z-index: 1;
    width: 10%;
    height: 100vh;
    background-image: url("/img/sidebar-bg.png");
    background-color: var(--mysidebar);
}

.mywidth {
    width: 20px;
    
}

.mysize {
    font-size: 12px;
}




