:root {
    --mycolor:rgb(230, 230, 230);
    --mygray:rgb(231, 231, 231);
    --myorange:#ff8f00;
    --mysidebar:#051e34;
    --myprimary:#165bba;
  }

.myheader {
    width: 100%;
    height: 60px;
}

.myaside {
    width: calc((100% / 12) * 2.5); 
    height: 100vh;
    margin-left: -25px;
    z-index: 3;
  
}

.mymain {
    width: calc((100% / 12) * 12); 
  
}

.mycontent {
    width: calc((100% / 12) * 11); 
    margin-left: 36px;
  
}

.myorange {
    color: var(--myorange);
}

.my-primary {
    background-color: #165bba;
}

.mygray {
    background-color: var(--mygray);
}

.mywidth {
    width: 20px;
    
}

.myoffcanvas {
    width: 50vw!important;
    
}

.myhover:hover {
    background-color:rgb(230, 230, 230, 0.3);
}



/* .mycontent {
   width: 20%;
   height: 100vh;
} */

/* .mycolor {
    background-color:var(--mycolor);
}




.myprimary {
    background-color: var(--myprimary);
}

.mytext {
    font-size: 12px;
}



.myheader {
    height: 10vh !important;
}

.mymain {
   width: calc(100% - 10%);
   height: calc(100vh - 10vh);
   margin-top: 50px;
   margin-left: 55px;
   
}


.mymain section {
    overflow: auto;
}


.myaside {
    z-index: 1;
    width: 10%;
    height: 100vh;
    background-image: url("/img/sidebar-bg.png");
    background-color: var(--mysidebar);
}





.mysize {
    font-size: 12px;
}


@media screen and (min-width:400px)  {
    
    .myaside {
  
        width:15%;
        height: 100vh;
        
    }
    
}



@media screen and (min-width:600px)  {
    
    .mymargin {
        margin-top:80px !important;
    }

    .myoffcanvas {
        width: 60% !important;       
    }
    
}

@media screen and (min-width:1000px)  {
    
    .mymargin {
        margin-top:50px !important;
      
    }

    .myoffcanvas {
        width: 50vw!important;
        
    }
    
}



 */
