:root {
    --mycolor:rgb(230, 230, 230);
    --mywhite: #ffffff;
    --myorange:#ff8f00;
    --mysidebar:#051e34;
    --myprimary:#165bba;
  }

.mycolor {
    background-color:var(--mycolor);
}

.myorange {
    color: var(--myorange);
}

.myprimary {
    background-color: var(--myprimary);
}

.mytext {
    font-size: 12px;
}

.myhover:hover {
    background-color:rgb(230, 230, 230, 0.3);
}



.mymain {
    width: calc((100% - 10%) + 70px);
    left: 100px;
}

.myaside {
   z-index: 1;
    width: 10%;
    height: 100vh;
    background-color: var(--mysidebar);
}



